<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_ConfIndex>
            <version>1.0.0</version>
        </Mygento_ConfIndex>
    </modules>
    <global>
        <index>
            <indexer>
                <confindex>
                    <model>confindex/indexer</model>
                </confindex>
                <cataloginventory_stock>
                    <depends>
                        <confindex/>
                    </depends>
                </cataloginventory_stock>
            </indexer>
        </index>
        <blocks>
            <confindex>
                <class>Mygento_ConfIndex_Block</class>
            </confindex>
        </blocks>
        <helpers>
            <confindex>
                <class>Mygento_ConfIndex_Helper</class>
            </confindex>
        </helpers>
        <models>
            <confindex>
                <class>Mygento_ConfIndex_Model</class>
            </confindex>
        </models>
        <resources>
            <confindex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </confindex_write>
            <confindex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </confindex_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <confindex>
                    <files>
                        <default>Mygento_ConfIndex.csv</default>
                    </files>
                </confindex>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <confindex>
                                            <title>Mygento Configurable Index</title>
                                        </confindex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <confindex>
                    <files>
                        <default>Mygento_ConfIndex.csv</default>
                    </files>
                </confindex>
            </modules>
        </translate>
    </frontend>
</config>
